<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pengchant.mapper.ImgMapper" >
  <resultMap id="BaseResultMap" type="com.pengchant.model.Img" >
    <id column="img_id" property="imgId" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="imgurl" property="imgurl" jdbcType="VARCHAR" />
    <result column="sts" property="sts" jdbcType="TINYINT" />
    <result column="subtime" property="subtime" jdbcType="TIMESTAMP" />
    <result column="articleid" property="articleid" jdbcType="INTEGER" />
    <result column="b_1" property="b1" jdbcType="CHAR" />
    <result column="b_2" property="b2" jdbcType="CHAR" />
    <result column="b_3" property="b3" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    img_id, title, imgurl, sts, subtime, articleid, b_1, b_2, b_3
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from img
    where img_id = #{imgId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from img
    where img_id = #{imgId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.pengchant.model.Img" >
    insert into img (img_id, title, imgurl, 
      sts, subtime, articleid, 
      b_1, b_2, b_3)
    values (#{imgId,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{imgurl,jdbcType=VARCHAR}, 
      #{sts,jdbcType=TINYINT}, #{subtime,jdbcType=TIMESTAMP}, #{articleid,jdbcType=INTEGER}, 
      #{b1,jdbcType=CHAR}, #{b2,jdbcType=CHAR}, #{b3,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pengchant.model.Img" >
    insert into img
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="imgId != null" >
        img_id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="imgurl != null" >
        imgurl,
      </if>
      <if test="sts != null" >
        sts,
      </if>
      <if test="subtime != null" >
        subtime,
      </if>
      <if test="articleid != null" >
        articleid,
      </if>
      <if test="b1 != null" >
        b_1,
      </if>
      <if test="b2 != null" >
        b_2,
      </if>
      <if test="b3 != null" >
        b_3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="imgId != null" >
        #{imgId,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="imgurl != null" >
        #{imgurl,jdbcType=VARCHAR},
      </if>
      <if test="sts != null" >
        #{sts,jdbcType=TINYINT},
      </if>
      <if test="subtime != null" >
        #{subtime,jdbcType=TIMESTAMP},
      </if>
      <if test="articleid != null" >
        #{articleid,jdbcType=INTEGER},
      </if>
      <if test="b1 != null" >
        #{b1,jdbcType=CHAR},
      </if>
      <if test="b2 != null" >
        #{b2,jdbcType=CHAR},
      </if>
      <if test="b3 != null" >
        #{b3,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pengchant.model.Img" >
    update img
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="imgurl != null" >
        imgurl = #{imgurl,jdbcType=VARCHAR},
      </if>
      <if test="sts != null" >
        sts = #{sts,jdbcType=TINYINT},
      </if>
      <if test="subtime != null" >
        subtime = #{subtime,jdbcType=TIMESTAMP},
      </if>
      <if test="articleid != null" >
        articleid = #{articleid,jdbcType=INTEGER},
      </if>
      <if test="b1 != null" >
        b_1 = #{b1,jdbcType=CHAR},
      </if>
      <if test="b2 != null" >
        b_2 = #{b2,jdbcType=CHAR},
      </if>
      <if test="b3 != null" >
        b_3 = #{b3,jdbcType=CHAR},
      </if>
    </set>
    where img_id = #{imgId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pengchant.model.Img" >
    update img
    set title = #{title,jdbcType=VARCHAR},
      imgurl = #{imgurl,jdbcType=VARCHAR},
      sts = #{sts,jdbcType=TINYINT},
      subtime = #{subtime,jdbcType=TIMESTAMP},
      articleid = #{articleid,jdbcType=INTEGER},
      b_1 = #{b1,jdbcType=CHAR},
      b_2 = #{b2,jdbcType=CHAR},
      b_3 = #{b3,jdbcType=CHAR}
    where img_id = #{imgId,jdbcType=INTEGER}
  </update>
</mapper>